h1 {
    font-family: serif;
    font-size: 25pt;
    color: darkgreen;
    text-align: center;
}

body {
    background-image: url(hintergrund.jpg);
}

p {
    font-family: arial;
    font-size: 13pt;
}

a:hover {
    color: darkgreen;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}
.start {
    font-family: arial;
    font-size: 15pt;
    color: gray;
}