button:not([disabled="disabled"]) {
    background-color: green;
}

button:not([disabled="disabled"]):hover {
    background-color: coral;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 14pt;
    font-family: arial;
}

a:hover {
    color: green;
}

a:active {
    font-size: 18pt;
}

a:visited {
    display: none;
}

input:focus {
    outline-color: yellow;
    outline-style: solid;
    outline-width: 3px;
}

input:empty {
    border: 1px solid red;
}

input:valid {
    border: 2px solid green;
}
 